

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


header{
    width: 100%;
    grid-area: header;
    background-color: $rojo-claro;
}


@import "utilities/inicio";
@import "utilities/nosotros";
@import "utilities/cursos";
@import "utilities/consultorio";
@import "utilities/contacto";
@import "utilities/variables";
