





$negro:#000000;
$blanco:#FFFFFF;
$rojo-claro: #DB9DAF; 
$verde-claro: #9DDBC9; 
$verde: #15AB92; 
$verde-transparencia: #9DDBC9; 
$naranja: #FFA43A; 
$salmon: #FF6961; 
$amarillo: #FDFD96; 
$celeste: #84B6F4; 
$verde-pastel: #77DD77; 
$gris: #E5E5E5; 
$verde-Azulado:#029987;





@mixin header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}